{% extends "base.html" %}
{% block content %}
<h4>เพิ่มผู้ป่วยใหม่</h4>
<form method="post">
    <div class="mb-2"><input name="hn" placeholder="HN" class="form-control" required></div>
    <div class="mb-2"><input name="first_name" placeholder="ชื่อ" class="form-control" required></div>
    <div class="mb-2"><input name="last_name" placeholder="นามสกุล" class="form-control" required></div>
    <div class="mb-2"><input name="dob" type="date" placeholder="วันเกิด" class="form-control" required></div>
    <div class="mb-2"><input name="address" placeholder="ที่อยู่" class="form-control"></div>
    <div class="mb-2"><input name="citizen_id" placeholder="เลขบัตรประชาชน" class="form-control"></div>
    <div class="mb-2"><input name="healthcare" placeholder="สิทธิการรักษา" class="form-control"></div>
    <button class="btn btn-primary">บันทึก</button>
</form>
{% endblock %}
