{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('add_patient') }}" class="btn btn-success mb-3">+ เพิ่มผู้ป่วย</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>HN</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>วันเกิด</th>
            <th>สิทธิ</th>
        </tr>
    </thead>
    <tbody>
        {% for p in patients %}
        <tr>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>{{ p[7] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
